{% extends "layout.html" %}
{% block content %}
    {% for version_name, version in versions.items() %}
        <div>
            {{ ('version')|uc_first }} {{ version_name }}
        </div>
        <div>
            {{ version[0] }}
        </div>
        <p>
            {% for issue_type, issues in version[1].items() %}
                {% for issue_number, issue_text in issues.items() %}
                    {% if issue_number %}
                        &#8226 {{ issue_type|uc_first }}
                        <a target="_blank" rel="noopener" href="https://redmine.openatlas.eu/issues/{{ issue_number }}"> #{{ issue_number }}</a> {{ issue_text|safe }}<br>
                    {% else %}
                        &#8226 {{ issue_text|safe }}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </p>
    {% endfor %}
{% endblock %}
